:root {
    --shadow: 0 0 3px #000;

    --mode-pos: 0;
    --mode-shadow: none;

    --clean-btn-color: #da4453;

    --bg-color: #2f343f;
    --bg-color-alt: #404552;
    --ft-color: #d3dae3;
    --ft-color-alt: #5294e2;
    --ft-color-int : #898d99;
}

::selection {
    background-color: var(--ft-color-alt);
    color: var(--ft-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--ft-color);
}

/* header */
header {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 4em;
    box-shadow: var(--shadow);
}
header h1.title {
    text-transform: uppercase;
    letter-spacing: 8px;
}
header h1.title::before {
    content: 'en';
    color: var(--ft-color-alt);
}
header h1.title:hover::before {
    content: 'de';
}

/* header > .binary */
.binary {
    display: flex;
    align-self: flex-end;
}
.binary > span {
    width: 20px;
    font-weight: 500;
    text-align: center;
}

/* main */
main {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    max-width: calc(1920px - 400px);
    margin: 0 auto;
    padding: 4em 4em 0;
}

/* main > .interface */
.interface {
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.interface p.important-msg {
    display: inherit;
    align-items: center;
    gap: 8px;
    font-size: 13px;
}
.interface p.important-msg i {
    font-size: initial;
}

/* main > .interface > .areas */
.areas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(378px, 1fr));
    gap: inherit;
}
.areas i {
    height: 35px;
    min-width: 35px;
    cursor: pointer;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
}
.areas i#turn {
    place-self: center;
    position: absolute;
    border-radius: 100%;
    font-size: 18px;
    background-color: var(--ft-color-alt);
}

/* main > .interface > .areas > .area */
.area {
    display: flex;
    height: 250px;
    padding: 20px 25px;
    gap: inherit;
    border-radius: 8px;
    box-shadow: var(--shadow);
    background-color: var(--bg-color-alt);
}
.area textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 18px;
    background-color: var(--bg-color-alt);
    color: var(--ft-color);
}
.area i {
    display: none;
}
.area i#clean {
    color: var(--clean-btn-color);
}
.area i#copy {
    align-self: self-end;
}

/* main > .interface > .areas > .area[1] */
.area:last-of-type {
    position: relative;
}
.area:last-of-type::before {
    content: attr(data-before);
    position: absolute;
    top: 0; left: 0;
    transform: translateY(var(--mode-pos));
    width: 7em;
    padding: 8px 0;
    border-radius: 8px 8px 0 0;
    box-shadow: var(--mode-shadow);
    text-align: center;
    background-color: var(--bg-color-alt);
    z-index: -1;
}
.area:last-of-type textarea::placeholder {
    color: var(--ft-color-int);
}

/* main > .information */
.information {
    place-self: center;
}
/* main > .information .links */
.links {
    display: flex;
}
.links a.link {
    width: 60px; height: 60px;
    border-radius: 100%;
    box-shadow: var(--shadow);
    font-size: 2em;
    line-height: 60px;
    text-align: center;
    background-color: var(--ft-color);
    color: var(--bg-color);
}
.links a.link:hover {
    background-color: var(--ft-color-alt);
    color: var(--ft-color);
}